<section class="content-header">
    <div class="header-icon">
       <i class="fa fa-users"></i>
    </div>
    <div class="header-title">
       <h1>New Customer</h1>
       <small><a href="#/">Dashboard</a> | Delete Customer</small>
    </div>
</section>
<section class="content">
    <div class="row">
       <!-- Form controls -->
       <div class="col-sm-12">
            <div class="panel panel-primary">
                    <div class="panel-heading">Delete Customer</div>
                    <div class="panel-body">                      
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr style="background-color: rgb(217,237,247);">
                                            <td>Sr. No.</td>
                                            <td>Picture</td>
                                            <td>Name</td>
                                            <td>Gender</td>
                                            <td>Cell no.</td>
                                            <td>Email</td>
                                            <td>D.O.B</td>
                                            <td>Wed. Anniv</td>                                        
        
                                        </tr>                              
                                    </thead>    
                                    <tbody>
                                        <tr>
                                            <td> 1</td>
                                            <td> <img src="assets/images/customers/{{dcc.customer2Delete.disPic}}" class="img-circle" width="50" height="50"></td>
                                            <td>{{dcc.customer2Delete.firstName + " " + dcc.customer2Delete.lastName}}</td>
                                            <td>{{dcc.customer2Delete.gender}}</td>
                                            <td>{{dcc.customer2Delete.cellNo}}</td>
                                            <td>{{dcc.customer2Delete.email}}</td>
                                            <td>{{dcc.customer2Delete.birthDate}}</td>
                                            <td>{{dcc.customer2Delete.wedAniv}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <label>
                                                Are you sure you want to delete this customer ?
                                            </label>
                                        </div>
                                </div>

                            </div>
                        </div>
                        <div clas="row">
                                <div col="col-sm-12" ng-show="dcc.opr.complete && ! dcc.opr.error">
                                    <div class="alert alert-success">
                                        <strong>{{dcc.opr.msg}}</strong>
                                      </div>
                                </div>
                                <div col="col-sm-12" ng-show="dcc.opr.complete && dcc.opr.error">
                                    <div class="alert alert-danger">
                                        <strong>{{dcc.opr.msg}}</strong>
                                      </div>
                                </div>                                    
                            </div>                        
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-9">
                                <button class="btn btn-danger" ng-click="dcc.deleteCustomer();" >Delete</button>&nbsp;&nbsp;&nbsp;
                                <a href="#/customers" class="btn btn-default">Close</a>
                            </div>
                        </div>
                    </div>
            </div>
       </div>
    </div>
 </section>